<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <!-- Perfil del Usuario -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Perfil de Usuario</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label>Nombre:</ion-label>
          <ion-text>{{usuario?.nombre}} {{usuario?.apellido}}</ion-text>
        </ion-item>

        <ion-item>
          <ion-label>Username:</ion-label>
          <ion-text>{{usuario?.username}}</ion-text>
        </ion-item>

        <ion-item>
          <ion-label>Edad:</ion-label>
          <ion-text>{{usuario?.edad}}</ion-text>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <!-- Roles del Usuario -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Roles</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let role of usuario?.rol">
          <ion-text>{{role.nomRol}}</ion-text>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <!-- Mostrar botón "Crear Producto" solo si es Admin -->
  <ion-button *ngIf="esAdmin()" expand="block" routerLink="/crear-producto">Crear Producto</ion-button>
</ion-content>
